[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
server = "uvicorn app.main:app --reload --port 8000"
fmt_fix = "ruff format ./app/"

[packages]
fastapi = "*"
pymysql = "*"
asyncmy = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
uvicorn = "*"
python-dotenv = "*"
cryptography = "*"
bcrypt = "*"
pydantic = {extras = ["email"], version = "*"}
resend = "*"
pyjwt = "*"
greenlet = "*"
boto3 = "*"

[dev-packages]
ruff = "*"
pre-commit = "*"
rich = "*"
typer = "*"
libcst = "*"
alembic = "*"

[requires]
python_version = "3.11"
